---
title: Si Jobling
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Si Jobling is an engineering manager at ASOS (formerly Ant Group, Yahoo! and UEFA), a
  podcast producer, and community creator who has spent decades building web experiences
  and bringing people together around technology.
</p>
<p>
  <a href="{{ '/contact/' | url }}">Connect with Si</a> to share ideas and explore collaborations.
</p>

<div id="posts">
  <h2>Latest posts</h2>
  {% set latestPosts = collections.posts | reverse | head(5) %}
  <ul>
    {%- for post in latestPosts %}
      {%- set categories = post.data.categories or [] %}
      {%- set primaryCategory = post.data.primaryCategory %}
      {%- if not primaryCategory and "blog" in categories %}
        {%- set primaryCategory = "blog" %}
      {%- elseif not primaryCategory %}
        {%- set primaryCategory = categories[0] %}
      {%- endif %}
      <li>
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <a href="{{ post.url | url }}">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </a>
        {%- if primaryCategory %}
          <a href="{{ ('/' + (primaryCategory | slugify) + '/') | url }}">{{ primaryCategory }}</a>
        {%- endif %}
      </li>
    {%- endfor %}
  </ul>
</div>

<div id="categories">
  <h2>Categories</h2>
  <ul>
    {%- for category in collections.categoryList %}
      <li>
        <a href="{{ ('/' + (category | slugify) + '/') | url }}">{{ category }}</a>
      </li>
    {%- endfor %}
  </ul>
</div>
