---
permalink: "{{ metadata.podcast.path | url }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
  <channel>
    <title>{{ metadata.podcast.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.description }}</description>
    <language>en</language>
    <itunes:subtitle>{{ metadata.podcast.subtitle }}</itunes:subtitle>
    <itunes:author>{{ metadata.author.name }}</itunes:author>
    <atom:link href="{{ metadata.podcast.url }}" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ collections.podcast | rssLastUpdatedDate }}</lastBuildDate>
    {%- for post in collections.podcast | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <guid>{{ absolutePostUrl }}</guid>
      <pubDate>{{ post.date | rssDate }}</pubDate>
      <enclosure url="{{ post.data.enclosure.url }}" length="{{ post.data.enclosure.filesize or 0 }}" type="{{ post.data.enclosure.type }}"/>
      <description><![CDATA[
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      ]]></description>
      {% if post.data.duration %}<itunes:duration>{{ post.data.duration }}</itunes:duration>{% endif %}
      {% if post.data.season %}<itunes:season>{{ post.data.season }}</itunes:season>{% endif %}
      {% if post.data.episode %}<itunes:episode>{{ post.data.episode }}</itunes:episode>{% endif %}
      {% if post.data.explicit %}<itunes:explicit>{{ post.data.explicit }}</itunes:explicit>{% endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>
