<ul class="unicode-list">
{% for post in postslist | reverse %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <datetime class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</datetime>
  </li>
{% endfor %}
</ul>
